.projects {
  padding: 5% 12% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__item__list {
  margin-top: 35px;
}

.project__item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 10% 5%;
  gap: 20px;
}

.projects__item__title {
  font-size: 3rem;
  font-weight: bold;
}

.projects__tech__stack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.projects__tech__stack__title {
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
}

.projects__tech__stack__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects__tech__stack__images {
  height: 30px;
  width: 30px;
}

.projects__item__desc {
  font-size: 1.3rem;
  text-align: center;
}

.projects__item__links__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.projects__item__links {
  font-size: 3rem;
}

.projects__item__links:hover {
  fill: #4786e5;
}
