.projects {
  padding: 5% 12% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__item__list {
  margin-top: 35px;
}

.project__item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 10% 5%;
  gap: 20px;
}

.projects__item__title {
  font-size: 3rem;
  font-weight: bold;
}

.projects__tech__stack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.projects__tech__stack__title {
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
}

.projects__tech__stack__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects__tech__stack__images {
  height: 30px;
  width: 30px;
}

.projects__item__desc {
  font-size: 1.3rem;
  text-align: center;
}

.projects__item__links__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.projects__item__links {
  font-size: 3rem;
}

.projects__item__links:hover {
  fill: #4786e5;
}

/* Image Slider */

.project__image__slider__container {
  width: 120%;
  min-height: 150px;
  position: relative;
}

.arrow__btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background: none;
  border: none;
  transform: translateY(-50%);
  -webkit-tap-highlight-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.arrow__btn:hover,
.arrow__btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow__icon {
  font-size: 3rem;
}

.left__arrow {
  top: 46%;
  left: 2%;
}

.right__arrow {
  bottom: 45%;
  left: 94%;
}

.slide__container {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide__container__active {
  opacity: 1;
  transition-duration: 1s;
}

.slide__img {
  width: 100%;
  height: 550px;
  object-position: center;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle__selector__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.circle__selector:hover {
  fill: #4786e5;
}

/* Media Query from Tablets */
@media (max-width: 1044px) {
  .slide__img {
    width: 100%;
    height: 400px;
  }

  .arrow__icon {
    font-size: 2rem;
  }
}

/* Media Query for Smartphones */
@media (max-width: 768px) {
  .projects__item__title {
    font-size: 2rem;
    text-align: center;
  }

  .slide__img {
    width: 100%;
    height: auto;
  }

  .left__arrow {
    top: 40%;
    left: 2%;
  }

  .right__arrow {
    left: 86%;
    bottom: 44%;
  }

  .projects__item__links {
    font-size: 2rem;
  }

  .projects__item__desc {
    font-size: 1rem;
    text-align: justify;
  }

  .projects__tech__stack__images {
    height: 22px;
    width: 22px;
  }

  .projects__tech__stack__title {
    font-size: 20px;
  }
}
