.contact {
  padding: 4% 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contact__btn {
  text-transform: uppercase;
  padding: 8px 17px;
}

/* Media Query for Smartphones */
@media (max-width: 768px) {
  .contact {
    margin-bottom: 20px;
  }
}
